.circle{
  width:100px;
  height:100px;
  border-radius:100%;
  overflow:hidden;
}

.circle.multi-line{
  padding-top:15px;
  height:100px;
}

.bg-card-cross {
  background-image: url("../../../../assets/images/cross.svg");
}

.bg-card-heart {
  background-image: url("../../../../assets/images/heart.svg");
}
