.bg-hero {
  background-image: linear-gradient(180deg, rgba(39,93,109,0) 0%, rgba(39,93,109,0.2) 40%, rgba(39,93,109,0.5) 60%, rgba(39,93,109,0.95) 100%),
                    url("../../../../assets/images/bg-hero.jpg");
  height: 100vh;
}





@media (min-width: 768px) {

  .bg-hero {
    background-image: url("../../../../assets/images/bg-hero.jpg");
    height: 750px;
  }

}
