<div class="bg-hero bg-center bg-no-repeat bg-cover flex flex-col justify-end md:justify-center">
  <div class="hidden md:block w-3/4 pl-24">
    <div class="text-white text-2xl font-bold mb-4">
      Certains chercheront toujours<br>des raisons de les abandonner
    </div>
    <h1 class="text-white font-medium uppercase font-bebas">
      <span class="text-5xl md:text-7xl">
        <span class="text-orange">Nous trouverons<br>toujours</span> des raisons<br>de les aimer
      </span>
      <button (click)="openModalVideo()">
        <i class="fa-regular fa-circle-play fa-3x align-text-bottom"></i>
      </button>
    </h1>
  </div>
  <div class="md:hidden text-center h-1/2">
    <button (click)="openModalVideo()" class="mb-2">
      <i class="fa-regular fa-circle-play fa-4x text-white align-text-bottom"></i>
    </button>
    <div class="text-white text-lg font-bold mb-2">
      Certains chercheront toujours<br>des raisons de les abandonner
    </div>
    <h1 class="text-white font-medium uppercase font-bebas text-5xl leading-10">
      <span class="text-orange">Nous trouverons toujours</span> des raisons<br>de les aimer
    </h1>
  </div>

</div>
<div class="overflow-x-auto">
  <div class="bg-banner whitespace-nowrap px-2 py-2">
    <span class="uppercase text-orange text-lg font-bold">urgent</span>
    <i class="fa-regular fa-circle-dot fa-beat text-orange px-2"></i>
    <span class="text-blue">Nos refuges débordent déjà : </span>
    <span class="text-blue font-bold">XX refuges saturés</span>
  </div>
</div>
