.btn-width {
  width:55%;
}

.vertical-text {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}



@media (min-width: 768px) {

  .top-position {
    top: 200px;
  }
  .btn-height {
    height: 226.25px;
  }
}
