.bg-header {
  background-image: url("../../../../assets/images/bg-hero.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
}

.z-index-up {
  z-index: 1100;
}
